.container {
  margin: 200px 165px 200px;
  display: flex;
  justify-content: center;
  gap: 125px;

  button {
    cursor: pointer;
  }

  .images {
    .image-container {
      margin-bottom: 30px;
      width: 445px;
      height: 445px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .gallery {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      max-width: 445px;

      img {
        height: 88px;
        width: 88px;

        &.active {
          outline: 3px solid orange;
          opacity: 0.5;
        }
      }
    }
  }

  .text {
    max-width: 450px;
    h5 {
      color: orange;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: left;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    h2 {
      text-transform: capitalize;
      font-size: 44px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 30px;
    }

    p {
      color: #69707d;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 24px;
    }

    .price {
      margin-bottom: 30px;
      .total {
        display: flex;
        align-items: center;
        gap: 15px;

        h4 {
          font-size: 28px;
          font-weight: 700;
          line-height: 35px;
          letter-spacing: 0px;
          text-align: left;
        }

        h5 {
          color: orange;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: left;
          padding: 4px 10px;
          background: #ffeee2;
          margin-bottom: 0;
        }
      }

      h6 {
        color: #b6bcc8;
        text-decoration: line-through;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }

  .cart-actions {
    display: flex;
    gap: 16px;

    .quantity {
      width: 157px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #f6f8fd;

      button {
        background-color: transparent;
        border: none;
        color: orange;
        font-size: 27px;
        font-weight: 700;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
      }
    }

    .addCart {
      height: 80px;
      padding: 20px 77px;
      background: orange;
      box-shadow: 0px 20px 50px -20px #ff7e1b;
      border: none;
      display: flex;
      align-items: center;
      gap: 15px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;

      img {
        width: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container .cart-actions {
    flex-direction: column;
    .addCart {
      align-self: flex-start;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 200px 100px 200px;
    gap: 100px;

    .images {
      .image-container {
        width: 350px;
        height: 330px;
      }

      .gallery {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;

        img {
          height: 60px;
          width: 60px;
        }
      }
    }

    .cart-actions {
      flex-direction: row;
      justify-content: center;
    }

    .images {
      margin: 0 auto;
    }

    .text {
      max-width: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 120px 50px 150px;
    flex-direction: column;
    gap: 50px;

    .images {
      .image-container {
        max-width: 450px;
        height: 330px;
      }

      .gallery {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;

        img {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .images {
      .image-container {
        width: 100%;
        min-width: 275px;
      }
    }

    .cart-actions {
      .addCart {
        height: 80px;
        padding: 20px;
        background: orange;
        box-shadow: 0px 20px 50px -20px #ff7e1b;
        border: none;
        display: initial;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
      }
    }

    .text {
      h5 {
        margin-bottom: 15px;
      }

      h2 {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 30px;
      }

      .price {
        margin-bottom: 30px;
      }
    }
  }
}
