.container {
  padding: 54px 48px;
  background: #ffffff;
  border-radius: 8px;
  max-width: 730px;

  p {
    opacity: 0.5;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.1428571939468384px;
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .billing,
  .shipping {
    margin-bottom: 50px;

    h4 {
      color: orange;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0.9285714030265808px;
      text-align: left;
      margin-bottom: -10px;
    }

    .inputs-container {
      display: flex;
      flex-wrap: wrap;

      .input-container {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        label {
          text-transform: capitalize;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: -0.2142857164144516px;
          text-align: left;
          margin-bottom: 9px;
        }

        input {
          padding: 18px 24px;
          background: #ffffff;
          border: 1px solid #cfcfcf;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: -0.25px;
          text-align: left;
          margin-right: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 520px;

    .billing,
    .shipping {
      .inputs-container {
        .input-container {
          flex-basis: 45%;
          flex-grow: 1;
          margin-right: 10px;

          label {
            margin-bottom: 5px;
          }

          input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: none;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 25px;
    width: 100%;
    .billing,
    .shipping {
      .inputs-container {
        .input-container {
          flex-basis: 45%;
          flex-grow: 1;
          margin-right: 10px;

          label {
            margin-bottom: 5px;
          }

          input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 25px;
    width: 100%;
    .billing,
    .shipping {
      .inputs-container {
        .input-container {
          flex-basis: 100%;
          flex-grow: 1;
          margin-right: 0px;

          label {
            margin-bottom: 5px;
          }

          input {
            width: 100%;
          }
        }
      }
    }
  }
}
