.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  .thanks {
    height: 416px;
    width: 412px;
    background: radial-gradient(
      98.96% 98.96% at 50% 0%,
      #232a34 0%,
      #181e27 100%
    );
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px;

    h2 {
      color: white;
      font-size: 28px;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0px;
      text-align: left;
    }

    p {
      color: #969fad;
    }

    a {
      background: orange;
      border-radius: 22.5px;
      padding: 11px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 15px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 2px;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        background: #ffffff;
        color: orange;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    .thanks {
      margin: 0 30px;
      width: 300px;
    }
  }
}
