.container {
  .image-container {
    height: 90%;
    background-image: url(../../public/assets/home/desktop/image-hero-federal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    border-top: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding: 10px 24px;
    text-transform: uppercase;
    h5 {
      font-weight: 300;
    }
  }
}

// <div className={classes.container}>
// <div className={classes["image-container"]}></div>
// <div className={classes.text}>
//   <h5>Name</h5>
//   <h5>Price</h5>
// </div>
// </div>
