.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
    filter: contrast(150%);
    h4 {
      color: orange;
    }
    button {
      border-bottom: 1px solid orange;
    }
  }

  h4 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    transition: all 0.3s;
  }

  button {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 5px;
    text-align: left;
    text-transform: uppercase;

    transition: all 0.3s;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;

    span {
      color: orange;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    h4 {
      font-size: 27px;
      line-height: 27px;
    }

    button {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    h4 {
      font-size: 21px;
      line-height: 21px;
    }

    button {
      font-size: 8px;
      line-height: 20px;
    }
  }
}
