.container {
  margin: 200px 165px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 30px;
  justify-content: center;
}

.container div:first-child {
  grid-row: 1/-1;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 200px 100px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 150px 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;

    div:first-child {
      grid-row: 1;
    }
  }
}
