.container {
  padding: 160px 165px;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 160px 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 100px 100px 160px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 100px 50px 160px;
  }
}
