.container {
  padding: 160px 165px;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 160px 100px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 150px 50px;
  }
}
